html {
  background-color: #033c50;
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-color: #033c50;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  height: 450px;
  background-image: url(computer1.png);
background-color: #033c50;
background-repeat: no-repeat;
  text-align: center;
  background-position: center;

}
.messages-container {
  margin-top: 49px;
  height: 300px;
  overflow: scroll;
  /*width: 540px;*/
}

.main-container {
  text-align: center;

}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}

.logo {
  background-color: #033c50;
  margin: 0 auto;
  width: 100%;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;


}
